$dark-background-color: 			#2d7181;
$light-background-color: 			#729eab;
$content-background-color:			#fff;
$input-type-background-color:		#dee9ee;

$text-color:						#000;
$inverse-text-color:				#fff;
$link-color:						$inverse-text-color;
$light-text-color:					#999;
$accent-color:						#eee;

$font-stack:						Arial, Helvetica Neue, Helvetica, sans-serif;
$font-size-xsmall:					9pt;
$font-size-small:					10pt;
$font-size-medium:					12.5pt;
$font-size-large:					15pt;
$font-size-generic:					$font-size-xsmall;